@model IEnumerable<ACEPSMVC.Models.Servicos>

<h1>
    Serviços
</h1>

@foreach (var item in Model)
{
    
        <div class="row clearfix">
            <div class="col-md-3">
                <img class="p-3 img-thumbnail" style="width: 150px" src="~/servicos/@item.Logo" alt="Image" />
            </div>
            <div class="col-md-9">
                <h5 class="mb-0 font-weight-bold">@item.Nome</h5>
                <h6 class="mb-0 font-weight-normal" style="word-wrap: break-word">@Html.Raw(item.Observacao)</h6>
                <p class="mb-0">@item.Endereco</p>
                <p class="mb-0"><a href="mailto:@item.Email">@item.Email</a></p>
                <p class="mb-0"><a target="_blank" href="@item.Website">@item.Website</a></p>
            </div>
        </div>
        <hr />
    
}