@model IEnumerable<ACEPSMVC.Models.Servicos>

<h1>
    Serviços
</h1>

@foreach (var item in Model)
{
    <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
        <div class="info-block block-info clearfix">
            <div class="square-box pull-left">
                <img class="img-destaques" src="~/servicos/@item.Logo" alt="Image" />
            </div>
            <h5>@item.Nome</h5>
            <h4>@item.Observacao</h4>
            <p>@item.Endereco</p>
            <span>@item.Email</span>
            <span>@item.Website</span>
        </div>
    </div>
}