@model IEnumerable<ACEPSMVC.Models.Servicos>

<h1>
    Serviços
</h1>

@foreach (var item in Model)
{
    
        <div class="row clearfix">
            <div class="col">
                <img style="height: 10vh" class="img-destaques img-thumbnail" src="~/servicos/@item.Logo" alt="Image" />
            </div>
            <div class="col">
                <h5>@item.Nome</h5>
                <h4>@Html.Raw(item.Observacao)</h4>
                <p>@item.Endereco</p>
                <p>@item.Email</p>
                <p><a href="@item.Website">@item.Website</a></p>
            </div>
        </div>
    
}